.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
   margin: 10px;
}
li{
    padding-right: 30px;
}
ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color:white;
}
body{
    background-image: url('Cer-background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height:150px;
    padding:10px;    
}
.cer-container{
    margin:20px;
    text-align: center;
    
}
.c-gre{
    border:2px solid black;
    border-radius: 10px;
    width:300px;
    height:250px;
    margin:10px 10px 10px 10px;

}
.c-solo{
    border:2px solid black;
    border-radius: 10px;
    width:300px;
    height:250px;
    margin:10px 10px 10px 10px;
}
.java-hacker{
    border:2px solid black;
    border-radius: 10px;
    width:300px;
    height:250px;
    margin:10px 10px 10px 10px;
}.inter-gre{
    border:2px solid black;
    border-radius: 10px;
    width:300px;
    height:250px;
    margin:10px 10px 10px 10px;
}
.java-solo{
    border:2px solid black;
    border-radius: 10px;
    width:300px;
    height:250px;
    margin:10px 10px 10px 10px;
}
.html-solo{
    border:2px solid black;
    border-radius: 10px;
    width:300px;
    height:250px;
    margin:10px 10px 10px 10px;
}
.c-gre:hover{
    transform: scale(1.1);
}
.c-solo:hover{
    transform: scale(1.1);
}
.java-hacker:hover{
    transform: scale(1.1);
}
.inter-gre:hover{
    transform: scale(1.1);
}
.java-solo:hover{
    transform: scale(1.1);
}
.html-solo:hover{
    transform: scale(1.1);
}
a:hover{
    color:yellow;
}
