.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
   margin: 10px;
}
li{
    padding-right: 30px;
}
ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color:rgb(18, 19, 18);
}
body{
    background-image: url('exp-backimage.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height:150px;
    padding:10px;    
}
.exp-img{
    text-align: center;
    margin: 10px;
}
#exp{
    font-size: x-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    width: 200px;
    height: 30px;
    background-color: rgb(143, 15, 15);
    font-size: 20px;
    margin: 20px;
}
a:hover{
    color:yellow;
}
